.box10{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

    &-container-icon{
        border-radius: 10px;
        font-size: 45px;
        font-weight: 200;
        color: var(--backgroud);
        background-color: var(--third);
        min-width: 17%;
        min-height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}