:root {
    // Colores primarios
    --primary: #60568B;
    --secondary: #74C0FC;
    --third: #183052;
    --fourthy: #146EBE;
    --fifthy: #051b35;
    --backgroud: #F0F1F3;
    --placeholder: #C3C6D1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: var(--secondary);
}

.size15{
    font-size: 15px;
}

.size20{
    font-size: 20px;
}

.size25{
    font-size: 25px;
}

.size30{
    font-size: 30px;
}

.mr-10{
    margin-right: 10px;
}

.mr-5{
    margin-right: 5px;
}

.container {
    position: relative;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--backgroud);
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@import 'main';
@import 'box1';
@import 'box2';
@import 'box3';
@import 'box4';
@import 'box5';
@import 'box6';
@import 'box7';
@import 'box8';
@import 'box9';
@import 'box10';